vendor/apex/com.google.pixel.camera.hal.apex
product/app/YouTube/YouTube.apk
product/app/Maps/Maps.apk
product/app/Photos/Photos.apk
product/app/PrebuiltGmail/PrebuiltGmail.apk
product/apex/com.google.android.gmssystem.prodvic.apex
product/priv-app/DevicePersonalizationAiAiPrebuiltPixel2024/DevicePersonalizationAiAiPrebuiltPixel2024.apk
product/priv-app/GoogleCamera/GoogleCamera.apk
product/priv-app/PixelCameraServices/PixelCameraServices.apk
product/priv-app/Phonesky/Phonesky.apk
product/priv-app/PrebuiltBugle/PrebuiltBugle.apk
product/priv-app/Velvet/Velvet.apk
fs_config_dirs
fs_config_files
